In [2]:
import urllib.request

In [3]:
from bs4 import BeautifulSoup

In [4]:
import pandas as pd

In [5]:
constFile=pd.read_csv('Constellation Names.csv')

In [6]:
constFile.head()

        Name Abbreviation    Genitive               Meaning Brightest Star
0  Andromeda          And  Andromedae  Princess of Ethiopia      Alpheratz
1     Antlia          Ant     Antilae              Air Pump  Alpha Antilae
2       Apus          Aps      Apodis      Bird of Paradise   Alpha Apodis
3   Aquarius          Aqr     Aquarii          Water-bearer      Sadalsuud
4     Aquila          Aql     Aquilae             The Eagle         Altair

In [7]:
constFile['Name']

0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: Name, Length: 88, dtype: object

In [8]:
def convertName(name):
    includesSpace= False
    spaceIndex=0
    for i in range(0,len(name)):
        if(name[i]==' '):
            includesSpace=True
            spaceIndex=i
    if (includesSpace):
        return name[:spaceIndex]+'_'+name[spaceIndex+1:]
    else:
        return name + '_(constellation)'

In [9]:
constFile['UrlName']=constFile['Name']
constFile['aName']=constFile['Name']
constFile['imgUrl']=constFile['aName']

In [10]:
constFile['aName'][8]='Bootes'

In [11]:
for i in range(0,len(constFile['Name'])):
    constFile['UrlName'][i]=convertName(constFile['Name'][i])

In [12]:
for i in constFile['UrlName']:
    print(i)

Andromeda_(constellation)
Antlia_(constellation)
Apus_(constellation)
Aquarius_(constellation)
Aquila_(constellation)
Ara_(constellation)
Aries_(constellation)
Auriga_(constellation)
Boötes_(constellation)
Caelum_(constellation)
Camelopardalis_(constellation)
Cancer_(constellation)
Canes_Venatici
Canis_Major
Canis_Minor
Capricornus_(constellation)
Carina_(constellation)
Cassiopeia_(constellation)
Centaurus_(constellation)
Cepheus_(constellation)
Cetus_(constellation)
Chamaeleon_(constellation)
Circinus_(constellation)
Columba_(constellation)
Coma_Berenices
Corona_Australis
Corona_Borealis
Corvus_(constellation)
Crater_(constellation)
Crux_(constellation)
Cygnus_(constellation)
Delphinus_(constellation)
Dorado_(constellation)
Draco_(constellation)
Equuleus_(constellation)
Eridanus_(constellation)
Fornax_(constellation)
Gemini_(constellation)
Grus_(constellation)
Hercules_(constellation)
Horologium_(constellation)
Hydra_(constellation)
Hydrus_(constellation)
Indus_(constellation)
Lacerta_(constellation)
Leo_(constellation)
Leo_Minor
Lepus_(constellation)
Libra_(constellation)
Lupus_(constellation)
Lynx_(constellation)
Lyra_(constellation)
Mensa_(constellation)
Microscopium_(constellation)
Monoceros_(constellation)
Musca_(constellation)
Norma_(constellation)
Octans_(constellation)
Ophiucus_(constellation)
Orion_(constellation)
Pavo_(constellation)
Pegasus_(constellation)
Perseus_(constellation)
Phoenix_(constellation)
Pictor_(constellation)
Pisces_(constellation)
Piscis_Austrinus
Puppis_(constellation)
Pyxis_(constellation)
Reticulum_(constellation)
Sagitta_(constellation)
Sagittarius_(constellation)
Scorpius_(constellation)
Sculptor_(constellation)
Scutum_(constellation)
Serpens_(constellation)
Sextans_(constellation)
Taurus_(constellation)
Telescopium_(constellation)
Triangulum_(constellation)
Triangulum_Australe
Tucana_(constellation)
Ursa_Major
Ursa_Minor
Vela_(constellation)
Virgo_(constellation)
Volans_(constellation)
Vulpecula_(constellation)

In [13]:
# For Boötes_(constellation) there is an exception as 'ascii' codec can't encode character ö

constFile['UrlName'][8]='Bootes'
constFile['UrlName'][58]='Ophiucus'

In [26]:
# for saving the wiki description url
request_body="https://en.wikipedia.org/wiki/"
#For saving the image url
head = 'https://commons.wikimedia.org/wiki/File:'

In [27]:
def imgUrl(aName):
    #For saving the image url
    head = 'https://commons.wikimedia.org/wiki/File:'
    
    name=aName
    print(name)
    firstName=name.replace(' ','')
    url=head + firstName + 'CC.jpg'
    print('First try')
    try:
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page, 'html.parser')
        sImg =soup.find('img')
        print('image found at: ',sImg['src'] )
        return sImg['src']
    except:
        print('1st try failed')
        print('2nd try..')
        name = name.replace(' ','_')
        secondUrl = head + 'Constellation_' +name +'.jpg'
        try:
        
            page = urllib.request.urlopen(secondUrl)
            soup = BeautifulSoup(page, 'html.parser')
            sImg =soup.find('img')
            print(sImg['src'])
            return sImg['src']
        except:
            print('2nd try failed')
            return None

In [28]:
# function for creating json file for constellations including all information

def jsonObjectCreate():
    jsonlist=[]
    for i in range(0,len(constFile['UrlName'])):
        searchUrl=request_body+constFile['UrlName'][i]
        request_result=urllib.request.urlopen(searchUrl)
        page=BeautifulSoup(request_result, 'html.parser')

        id =i
        name=constFile['Name'][i]
        englishName=constFile['Meaning'][i]
        brightestStar=constFile['Brightest Star'][i]
        paragraph0=page.find_all('p')[0].getText()
        paragraph1=page.find_all('p')[1].getText()
        paragraph2=page.find_all('p')[2].getText()
        

        dic={
            'id':id,
            'name':name,
            'englishName':englishName,
            'brightestStar':brightestStar,
            'paragraph0':paragraph0,
            'paragraph1':paragraph1,
            'paragraph2':paragraph2,
            'url':searchUrl,
            'imgUrl':imgUrl(constFile['aName'])
            }
        jsonlist.append(dic)
    return jsonlist

In [29]:
jsonList=jsonObjectCreate()

0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed

0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed

0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed
0      Andromeda
1         Antlia
2           Apus
3       Aquarius
4         Aquila
         ...
83    Ursa Minor
84          Vela
85         Virgo
86        Volans
87     Vulpecula
Name: aName, Length: 88, dtype: object
First try
1st try failed
2nd try..
2nd try failed

In [24]:
import json

In [25]:
json_object=json.dumps(jsonList, indent=4)

with open("output.json", "w") as outfile:
    outfile.write(json_object)